[client]
default-character-set=utf8mb4

[mysql]
default-character-set = utf8mb4

; Global properties
; Sorted by name
[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
connect_timeout = 300
init-connect = 'SET NAMES utf8mb4'
interactive_timeout = 604800
log_queries_not_using_indexes = 1
long_query_time = 10
max_allowed_packet = 1073741824
max_heap_table_size = 1073741824
net_read_timeout = 200
sort_buffer_size = 1048576
sql_mode = 'no_engine_substitution'
net_write_timeout = 200
table_open_cache = 5000
table_open_cache_instances = 16
tmp_table_size = 1073741824
wait_timeout = 604800
skip_name_resolve=on

; Innodb specific configuration
innodb_file_format = 'Barracuda'
innodb_large_prefix = 1
innodb_lock_wait_timeout = 180
innodb_print_all_deadlocks = 1
